<div class="header">
  <div class="button" (click)="toggleCollapsed()">
    <i class="anticon anticon-menu-{{settings.layout.isCollapsed?'unfold':'fold'}}"></i>
  </div>
  <div class="rightWarpper">
    <div class="button">
      <i class="anticon anticon-mail"></i>
    </div>
    <ul nz-menu [nzMode]="'horizontal'">
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i>{{this._storage.get('username')}}</span>
        <ul>
          <li style="text-align: center" nz-menu-item (click)="signOut()">注销</li>
          <li style="text-align: center" nz-menu-item><a routerLink="/profile">个人资料</a></li>
          <li style="text-align: center" nz-menu-item><a routerLink="/password">修改密码</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
