<div nz-row>
  <h1>课程管理</h1>
</div>
<div nz-row>
  <div nz-col [nzSpan]="22">
    <p>当前学期：<span>{{nowSemester.nowSemester}}</span></p>
  </div>
  <div nz-col [nzSpan]="1" style="margin-left: -2em">
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="showModalForTemplate(title, content, footer)">
      <span>查询历史课程</span>
    </button>
    <ng-template #title>
      <span>查询历史课程</span>
    </ng-template>
    <ng-template #content>
      <form nz-form [nzType]="'horizontal'" [formGroup]="validateForm">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6">
            <label nz-form-item-required>选择学期：</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="4">
            <nz-select formControlName="fy" [nzSize]="'large'">
              <nz-option *ngFor="let option of options" [nzLabel]="option.label" [nzValue]="option"></nz-option>
            </nz-select>
          </div>
          <div nz-form-control nz-col [nzSpan]="1">
            <span>&nbsp;&nbsp;-</span>
          </div>
          <div nz-form-control nz-col [nzSpan]="4">
            <nz-select formControlName="sy" [nzSize]="'large'">
              <nz-option *ngFor="let option of options" [nzLabel]="option.label" [nzValue]="option"></nz-option>
            </nz-select>
          </div>
          <div nz-form-control nz-col [nzSpan]="1">
            <span>&nbsp;&nbsp;-</span>
          </div>
          <div nz-form-control nz-col [nzSpan]="2">
            <nz-select formControlName="type" [nzSize]="'large'">
              <nz-option [nzLabel]="1" [nzValue]="1"></nz-option>
              <nz-option [nzLabel]="2" [nzValue]="2"></nz-option>
            </nz-select>
          </div>
        </div>
      </form>
    </ng-template>
    <ng-template #footer>
      <div>
        <button nz-button [nzSize]="'large'" (click)="handleCancel()">
          返 回
        </button>
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleOk($event)" [nzLoading]="isConfirmLoading">
          提 交
        </button>
      </div>
    </ng-template>
  </div>
</div>
<div nz-row class="mycard" [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'">
  <div nz-col [nzSpan]="8">
    <p>我的课程</p>
    <p>{{courses.length}}个课程</p>
  </div>
  <div nz-col [nzSpan]="8" class="se">
    <p>本学期课时总数</p>
    <p>{{this.getAllHours(courses)}}个学时</p>
  </div>
  <div nz-col [nzSpan]="8">
    <p>本周课时总数</p>
    <p>{{this.getWeekHours(courses)}}个学时</p>
  </div>
</div>
<div nz-row>
  <div nz-col [nzSpan]="14">
    <h2>课程列表</h2>
  </div>
  <div nz-col [nzSpan]="6" class="mbg">
    <nz-radio-group  [(ngModel)]="choice" style="margin-right: 1em">
      <label nz-radio-button [nzValue]="'all'" ><span>全部</span></label>
      <label nz-radio-button [nzValue]="'ing'"><span>进行中</span></label>
      <label nz-radio-button [nzValue]="'no'"><span>未开始</span></label>
    </nz-radio-group>
  </div>
  <div nz-col [nzSpan]="3" class="sousuo">
    <nz-input [nzType]="'search'" [nzPlaceHolder]="'请输入'"
              [(ngModel)]="_value" style="width: 200px;margin-left: -2em" (nzOnSearch)="onSearch($event)" >
    </nz-input>
  </div>
</div>
<br>
<div nz-row [nzType]="'flex'" [nzJustify]="'start'">
  <div nz-col [nzSpan]="24" >
    <button nz-button [nzType]="'dashed'" style="width: inherit" >
      <a  routerLink="add" routerLinkActive="active">
      <i class="anticon anticon-plus"></i>
      <span>添加</span></a>
    </button>
  </div>
</div>
<br>
<div nz-row>
  <div nz-col>
    <nz-table #nzTable [nzDataSource]="courses" [nzPageSize]="5" [nzShowSizeChanger]="true" [nzShowTotal]="true" [nzTotal]="courses.length">
      <thead nz-thead>
      <tr>
        <th nz-th><span>编号</span></th>
        <th nz-th [nzWidth]="'20%'"><span>课程名称</span></th>
        <th nz-th  [nzWidth]="'22%'"><span>课程号</span></th>
        <th nz-th><span>课程学时</span></th>
        <th nz-th><span>课程人数</span></th>
        <th nz-th><span>操作</span></th>
      </tr>
      </thead>
      <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data">
        <td nz-td>{{data.id}}</td>
        <td nz-td>
          <span>{{data.className}}</span>
          <br>
          <span>周{{this.WEEK[data.weekDays]}} 第{{data.classNum}}节</span>
          <br>
          <span>第{{data.classWeek}}周</span>
        </td>
        <td nz-td>{{data.classId}}</td>
        <td nz-td>{{this.getHours(data)}}</td>
        <td nz-td>{{data.classPeoCount}}</td>
        <td nz-td>
            <span>
              <a (click)="editCourse(data)">编辑</a>
              <span nz-table-divider></span>
              <nz-popconfirm [nzTitle]="'确定删除吗？'" (nzOnConfirm)="delClass(data)" (nzOnCancel)="null">
                <a nz-popconfirm>删除</a>
              </nz-popconfirm>
            </span>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>