<div nz-row>
  <h1>预约详情</h1>
  <h2>修改第一志愿</h2>
</div>
<br><br><br>
<div nz-row>
  <div nz-col>
    <p>当前学期：2017学年第一学期（本周为第11周）</p>
  </div>
</div>
<br><br><br>
<div nz-row [nzType]="'flex'" >
  <div nz-col [nzSpan]="'6'"></div>
  <div nz-col [nzSpan]="'12'">
    <form nz-form [nzType]="'vertical'" [formGroup]="validateForm">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label>预约号</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14">
          <span nz-form-text>{{order.id}}</span>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label>课程号</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14">
          <span nz-form-text>{{order.classId}}</span>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label>课程名</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14">
          <span nz-form-text>{{order.className}}</span>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label>课程人数</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14">
          <span nz-form-text>{{order.classPeoCount}}</span>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label>创建时间</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14">
          <span nz-form-text>{{order.createTime}}</span>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label>最后修改时间</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14">
          <span nz-form-text>{{order.lastModify}}</span>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label>预约进度</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14">
          <span nz-form-text>{{order.passFlagString}}</span>
        </div>
      </div>
    </form>
  </div>
  <div nz-col [nzSpan]="'6'"></div>
</div>